div{
  width: 150px;
  height: 150px;

}
/* Ici, je redige la feuille de style pour mettre en forme le fichier service.html*/
#divsolid{
 /*je change la couleur de mon texte et l'arriere plan de mon texte */
    color: red;
    background-color:paleturquoise;
    border:solid ; 
}
#divdouble{
 /*je change la couleur de mon texte et l'arriere plan de mon texte */
    color: blueviolet;
    background-color: beige;
    border: double;
}
#divdotted{
 /*je change la couleur de mon texte et l'arriere plan de mon texte */
    color: brown;
    background-color: blanchedalmond;
    border: dotted;
}
#divdashed{
 /*je change la couleur de mon texte et l'arriere plan de mon texte */
    color: black;
    background-color:yellowgreen ;
    border: dashed;
}
 /* Je mets en forme ma page web.*/
#div1{
     /* la bordure est solid, de couleur blue et 4px d'épaisseur */
    border:solid;
    color: red;
     border-radius: 25px 10px 45px 45px;
}
 /*je sélectionne ma deuxième balise <div> grâce a son indentifiant div */
#div2{
    color:blue;
    /* la bordure est doublée, de couleur blue et 4px d'épaisseur */
     border:double black 4px ;
     border-radius: 15px;
     /*Le text est alligné au centre*/
     text-align: center;
     border-radius:30% 70% 70% 30% / 30% 58% 42% 70%;
     background: linear-gradient(to right, blueviolet,rgb(197, 12, 175));
}
#div3{
  border:dotted;
  color:green;
  box-shadow: 6px 6px 0px rgba(0, 0, 0);
}


